body {
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

a {
    font-size: 16pt;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

a:hover {
    text-decoration: none;
    font-weight: bold;
    color: gray;
}

div.header {
    background-color: black;
}

div.botoes {
    text-align: center;
}

div.menu {
    background-color: red;
    height: 75px;
    text-align: center;
    vertical-align: middle;
}

div.menu a {
    display: inline-block;
    margin: 20px;
}

div.menu a#logo {
    width: 75px;
    height: 75px;
    position: absolute;
    display: block;
    top: 4;
    left: 0;
    margin: 0;
}

div.menu a#logo img {
    width: 75px;
    height: 75px;
}

div.content h1 {
    text-align: center;
    margin-bottom: 25px;
}

div.content {
    text-align: center;
    color: red;
}

div.mods a {
    color: white;
}

div.mods {
    text-align: center;
}

h3 {
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

div.mods button {
    border: transparent;
    border-radius: 7px;
    margin: 20px;
}

div.pistasI button {
    background-color: darkred;
}

div.pCarros button {
    background-color: blue;
}

div.skins button {
    background-color: olive;
}

div.sons button {
    background-color: yellow;
}

.pistasI {
    color: darkred;
}

.pCarros {
    color: blue;
}

.skins {
    color: olive;
}

.sons {
    color: yellow;
}

div.subscribe {
    margin-top: 10px;
}
